@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom styles */
.leaflet-container {
  height: 100%;
  width: 100%;
}

/* Fix for Leaflet marker icons */
.leaflet-default-icon-path {
  background-image: url("https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon.png");
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
